<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ConnectionStrings>
    <add name="RestaurantDbConnectionString"
         connectionString ="Data Source=.;Initial Catalog=ResDummyDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
     
  </ConnectionStrings>
</configuration>